//variables
$footer-bg-color: $primary-color;
$footer-color-text: $navbar-default-color;

//styles

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $footer-bg-color;
  color:white;

  & .container .text-footer{
    color: $footer-color-text;
  }



}
