//variables
$footer-bg-color: $primary-color;
$footer-color-text: $navbar-default-color;

//styles

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $footer-bg-color;
  color:white;

  & .container .text-footer{
    color: $footer-color-text;
  }

  & a{
    color: $footer-color-text;
  }


}
