/* Coolors Exported Palette - coolors.co/042a2b-e9724c-d9dcd6-16425b-1f7a8c */

/* RGB */
$color1: rgba(4, 42, 43, 1);
$secondary-color: rgba(233, 114, 76, 1);
$body-background-color: rgba(244, 245, 243, 1);
$main-text-color: rgba(22, 66, 91, 1);
$primary-color: rgba(31, 122, 140, 1);




$navbar-default-color:             #FFFFFF;
$navbar-default-bg:                $primary-color;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);



// Navbar links
$navbar-default-link-color:                #FFFFFF;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 20%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #FFFFFF;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;



// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;


// Navbar toggle
$navbar-default-toggle-hover-bg:           darken($navbar-default-bg, 6.5%);
$navbar-default-toggle-icon-bar-bg:        #FFFFFF;
$navbar-default-toggle-border-color:       darken($navbar-default-bg, 6.5%);


// responsive breakpoints
$large-screen-width: 1024px; // iPad en landscape o superior
$medium-screen-width: 768px; // iPad portrait
$small-screen-width: $medium-screen-width - 1; // smartphones


/*
// components colors
$color-primary: rgba(31, 122, 140, 1);
$color-secondary: rgba(233, 114, 76, 1);

$main-text-color: rgba(22, 66, 91, 1);
$body-background-color: rgba(244, 245, 243, 1);


// font families
$main-font-family: "Slabo 27px", serif;
$titles-font-family: "Patua One", serif;
$body-font-family: $main-font-family;

// font sizes
$font-size-base: 16px;
$font-size-small: $font-size-base - 6px;
$font-size-large: $font-size-base + 6px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;



//border radius
$border-radius-default: 5px;
*/
